[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

redis = "*"
aiohttp = "*"
schedule = "*"
sanic = "*"
pyquery = "*"


[dev-packages]


[requires]

python_version = "3.6"
